@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Lato-Regular.ttf') format('truetype');
}

body {
    font-family: 'Lato', sans-serif;
}

#sidebar-wrapper {
    height: 100vh;
    overflow-y: auto;
}